.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    color: white;
    padding: 0px 20px;
  }
  
  .navbar-logo {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo .logo {
    width: 40px;
    margin-right: 10px;
  }
  
  .navbar-title {
    font-size: 18px;
  }
  
  .navbar-icons {
    display: flex;
    gap: 15px;
    font-size: 20px;
  }
  