* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Acumin Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* font-family:"Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; */
}
